src/main/mule/indigoFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="IndigoFlightsFlow" doc:id="3d133187-6d23-4e90-bc34-6f76b5d108f2" >
		<logger level="INFO" doc:name="Logger" doc:id="486c6521-a92a-434c-afe3-b05ef45daa07" message="Request received by indigoAirlines...........#[attributes.queryParams]"/>
		<http:request method="GET" doc:name="Request" doc:id="f7b1948e-ddfe-49a7-a405-a9d2cbfc8d83" path="api/getFlights" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	departureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="af4d798c-2c6c-43a5-bc32-73cb31af4974" message="Request received from indigoAirlines...............#[payload]"/>
	</flow>
	
</mule>
